[submodule "ecommerce-app"]
	path = ecommerce-app
	url = git@github.com:iurykrieger/ecommerce-app.git
[submodule "ecommerce-catalog"]
	path = ecommerce-catalog
	url = git@github.com:iurykrieger/ecommerce-catalog.git
[submodule "ecommerce-cart"]
	path = ecommerce-cart
	url = git@github.com:iurykrieger/ecommerce-cart.git
[submodule "ecommerce-transaction"]
	path = ecommerce-transaction
	url = git@github.com:iurykrieger/ecommerce-transaction.git
